.info {
    grid-column-start: 2;
    grid-column-end: 1 span;
    grid-row-start: 2;
    grid-row-end: 1 span;
    background-color: blue; 
  }

  .contenedor-infostats {
    height: 192px;
    width: 1023px;
    background-color: powderblue;
    display:flex;
    justify-content: space-around;
    align-items: center;
  }

  .contenedor-imagen-texto-infostats {
    display: flex;
    justify-content:space-between;
    background-color: pink;
  }

  .img{
    max-width: 30%;
    max-height:30%;
    float: left;
  }